<div class="row example-container mt-3 col-12">
    <div class="col">
        <form  [formGroup]="equipementservice.formEquipement" >
            <div class="form-group">
                <label>Porté max :</label>
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="porteMax">
                </div>
            </div>
            </form>
            <form  [formGroup]="equipementservice.formEquipement" >

            <div class="form-group">
                <label>Porté min :</label>
                <div class="input-group">

                    <input class="form-control" type="number" formControlName="porteMin">
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <form  [formGroup]="equipementservice.formEquipement" >
            <div class="form-group">
                <label>N° d'approbation :</label>
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="numApprobation">
                </div>
            </div>
            </form>
            <form  [formGroup]="equipementservice.formEquipement" >

            <div class="form-group">
                <label>N°de vignette :</label>
                <div class="input-group">

                    <input class="form-control" type="number" formControlName="numVignette">
                </div>
            </div>
        </form>
    </div>

    <div class="col">
        <form  [formGroup]="equipementservice.formEquipement" >
            <div class="form-group">
                <label>Date de poinconnage :</label>
                <div class="input-group">
                    <input class="form-control" type="date" formControlName="datePoinconnage" [ngModel]="this.equipementservice.formEquipement.value.datePoinconnage | date:'yyyy-MM-dd'">
                </div>
            </div>
            </form>
            <form  [formGroup]="equipementservice.formEquipement" >
            <div class="form-group">
                <label>Date de réparation :</label>
                <div class="input-group">

                    <input class="form-control" type="date" formControlName="dateReparation" [ngModel]="this.equipementservice.formEquipement.value.dateReparation | date:'yyyy-MM-dd'">
                </div>
            </div>
        </form>
    </div>
    <div>
    <div class="col">
        <div class="row">
        <form  [formGroup]="equipementservice.formEquipement" >
            <div class="form-group">
                <label>Echelon de verification :</label>
                <div class="input-group">
                    <input class="form-control" type="number" formControlName="echellonDeVerification" [ngModel]="this.equipementservice.formEquipement.value.echellonDeVerification">
                </div>
            </div>
            </form>
        </div>
    </div>
   
    <div class="modal-footer ">
        <button type="button" class=" btn btn-light float-right" [disabled]="userService.Method == 'Detail'" (click)="OnSubmit()"><i class="fas fa-check"  ></i>
            Valider</button>
    </div>
</div>