

  <div class="content">

    <div class="card card-info  mt-3 p-2">

      <h3 style=" font-family: 'Inter', sans-serif;  color: #091255; font-size: larger;" id="fullNameUser"> 
          <b>Liste Des Equipements</b> 
      </h3>
  
      <img src="assets\img\output-onlinepngtools.png">
   </div>
    <div class="card">
      
      <div class="card-header m-2">

   
        <div class="input-group mb-3 col-4 float-right">
          <div class="input-group-append ">
              <button class="btn" type="button" style="background-color: #4371f7; color: white; border-radius: 1px;">
                <i class="fa fa-search"></i>
            </button>
          </div>
          <input type="text" class="form-control" placeholder="Chercher un équipement..."  [(ngModel)]="data"  >
       </div>
    
        
    </div> 
        

      <div class="card-body"> 
        <div class="row" style="justify-items: center; align-items: center;margin-top: -4px;">
          <div class="col-4">
          <button type="button " class="btn btn-light " (click)="openComponentForPost()"
          style="margin-bottom: 16px; align-items: center;"> <i class="fas fa-plus-circle " ></i> Ajouter un équipement
          </button>
          </div>

      </div>
      <div style="overflow-x:auto;">
        <table class="table table-striped" >
            <thead style="display:table; width: 100%; table-layout: fixed;">
            <tr>
              <th >Libelle</th>
              <th >N° identification interne</th>
           
              <th > N°S </th>
              <th >Marque</th>
              <th >Type</th>
              <th >Action(s)</th>
  
            </tr>
          </thead>
          
          <tbody *ngFor=" let equipement of equipementservice.listequipement">
            <tr style="display:table; width: 100%; table-layout: fixed;" > 
               <td >{{equipement.libelle}}</td>
              <td >{{equipement.identifiantInterne}}</td> 
              <td >{{equipement.numeroSerie}}</td>
              <td class="align-middle">{{equipement.marque}} </td>
              <td class="align-middle">{{equipement.type}}</td>
              <td class="align-middle p-0" >
                <div class="row p-0">
              <a class="nav-link col" ><i    (click)="openComponentForUpdate(equipement) "
                  class="bounce far fa-edit   fa-2x" 
                  style="cursor: pointer;  font-size: 140%; margin-top: -5%; color:#4371f7 ;"
                   tooltip="consulter"></i></a>
              <a class="nav-link col" ><i (click)="openComponentForDelete(equipement) "
                  class="bounce far fa-trash-alt text-danger  fa-2x"
                  style="cursor: pointer; font-size: 140%;  margin-top: -18%; margin-bottom: -31%;"
                tooltip="Supprimer"></i></a>
       
                <a class="nav-link col" ><i (click)="openComponentForDetail(equipement)"
                  class="bounce far  fa-eye text-success  fa-2x"
                  style="cursor: pointer; font-size: 140%;  margin-top: -18%; margin-bottom: -31%;"
                tooltip="View"></i></a>
                </div>
            </td>
            </tr>
          
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

      <pagination-controls   previousLabel="Précédent" 
      nextLabel="Suivant" (pageChange)="current = $event" style="text-align: center; "></pagination-controls>
      <ngx-spinner style="background-color:#4371f7" 
       size="small" type="line-scale-party" [fullScreen]="true">
        <p  style="color: white">Chargement... </p>
      </ngx-spinner>
    </div>


</div>

