<div class="modal-header ">
    <h4 class="modal-title pull-left text-secondary ml-1 m-2" style="font-size: 24px;">Details frais intervention </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="card-body">
    <label>Nom filiale</label>
    <input disabled value="{{libelle}}" class="form-control">
</div>
<div class="card-body">
    <label>Date intervention</label>
    <input type="text" disabled value="{{fraisInterventionn.dateIntervention}}" class="form-control">
</div>
<div class="card-body">
    <label>Libelle Intervention</label>
    <input type="text" disabled value="{{fraisInterventionn.libelleIntervention}}" class="form-control">
</div>
<div class="card-body">
    <label>Type Intervention</label>
    <input *ngIf="fraisInterventionn.typeIntervention ==0" type="text" disabled value="Etalonnage" class="form-control">
    <input *ngIf="fraisInterventionn.typeIntervention ==1" type="text" disabled value="Verification" class="form-control">
    <input *ngIf="fraisInterventionn.typeIntervention ==2" type="text" disabled value="Poinconnage" class="form-control">
    <input  *ngIf="fraisInterventionn.typeIntervention ==3"type="text" disabled value="Reparation" class="form-control">
    <input  *ngIf="fraisInterventionn.typeIntervention ==4" type="text" disabled value="Pesage" class="form-control">
</div>
<div class="card-body">
    <label>Frais</label>
    <input type="text" disabled value="{{fraisInterventionn.frais}}" class="form-control">
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="line-scale-party" [fullScreen]="true">
    <p style="color: white">Chargement... </p>
</ngx-spinner>